.resetBtn {
  border-radius: 4px;
  background-color: #e74c3c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 15px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

.resetBtn:hover {
  background-color: #c0392b;
}

.timeTravel {
  display: inline-block;
  border-radius: 4px;
  background-color: #2ecc71/*#f4511e*/;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.timeTravel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.timeTravel span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.timeTravel:hover span {
  padding-right: 25px;
}

.timeTravel:hover span:after {
  opacity: 1;
  right: 0;
}