.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 7em;
  font-weight: bold;
  line-height: 34px;
  height: 25vh;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25vh;
}

.square:focus {
  outline: none;
}

.square:hover {
  background-color: rgba(0,0,0,0.1);
}